apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - target-group-binding.yaml
images:
  - name: DEPLOYMENT_IMAGE
    newName: 767397910274.dkr.ecr.ap-southeast-1.amazonaws.com/kd-portal/dev2/site
