apiVersion: apps/v1
kind: Deployment
metadata:
  name: kd-portal
  labels:
    app: kd-portal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kd-portal
  template:
    metadata:
      labels:
        app: kd-portal
    spec:
      serviceAccountName: kd-portal-aws-sa
      containers:
        - name: kd-portal
          image: DEPLOYMENT_IMAGE
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: kd-portal-env
